@model IEnumerable<Enterprise.App.ViewModels.ProductViewModel>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Image/@item.Image" alt="Alternate Text" style="width:40px; height:40px" />
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    @item.Valor.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td class="text-right">
                    <a disable-by-claim-name="Supplier" disable-by-claim-value="Details" class="btn btn-outline-info" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a> 
                    <a disable-by-claim-name="Supplier" disable-by-claim-value="Edit" class="btn btn-outline-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a> 
                    <a disable-by-claim-name="Supplier" disable-by-claim-value="Remove" class="btn btn-outline-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash-alt"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
