@model Enterprise.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Detalhes do Produto - " + Model.Nome;
}

<h4 style="padding-top:50px">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-4">
        <img src="~/Image/@Model.Image" alt="Imagem do Produto" style="width:300px; height:428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Supplier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Supplier.Documento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-10">
                @Model.Valor.ToString("C")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>
    </div>

</div>
<br />
<div class="form-group">
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-outline-info" href="javascript:window.history.back();">Voltar</a>
</div>
